<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gradlink">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_gradlink"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".ExploreFINS"></activity>
        <activity android:name=".ExploreMARK" />
        <activity android:name=".ExploreACCT" />
        <activity android:name=".ExploreINFS" />
        <activity
            android:name=".NavigationActivity"
            android:label=".NavigationActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".CourseChecklistActivity" />
        <activity
            android:name=".MyProfileActivity"
            android:label="My Profile" />
        <activity android:name=".MyAchievementsActivity"
            android:label="My Achievements">
            <intent-filter>
                <action android:name="com.example.gradlink.MyAchievementsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MyAchievementsSecond"
            android:label="My Achievements Questions">
            <intent-filter>
                <action android:name="com.example.gradlink.MyAchievementsSecond" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MyAchievementsThird"
            android:label="My Achievements">
            <intent-filter>
                <action android:name="com.example.gradlink.MyAchievementsThird" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MyAchievementsFourth"
            android:label="My Achievements">
            <intent-filter>
                <action android:name="com.example.gradlink.MyAchievementsFourth" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyAvatarActivity"
            android:label="My Avatar" />
        <activity
            android:name=".PuzzlePlannerActivity"
            android:label="Degree Puzzle Planner" />
        <activity
            android:name=".ExploreMajorsActivity"
            android:label="Explore Majors" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="Dashboard" />
        <activity android:name=".CreateProfileActivity" />
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>
